:root {
  --clr-txt: #000;
  --clr-small-txt: #666;
  --clr-small-txt-faint: #999;
  --clr-separator: #ccc;

  /* Links */
  --clr-link-txt: #03c;
  --clr-link-bg-active: #eee;

  /* Buttons */
  --clr-btn-txt: #333;
  --clr-btn-bg: #fff;
  --clr-btn-bg-hover: #eee;
  --clr-btn-border: rgba(0, 0, 0, 0.2);
  --clr-btnMain-txt: #fff;
  --clr-btnMain-bg: #03c;
  --clr-btnMain-bg-hover: #36f;
  --clr-btnMainSmall-bg: #25e;
  --clr-btnMainSmall-bg-hover: #38f;

  /* Shadows */
  --shadow-focus: 0.1rem 0.1rem 0.1rem #000;
}
