@import "colors.css";

html {
  font: 100%/1.5 Arial, sans-serif;
  overflow-y: scroll;
}

label,
button {
  cursor: pointer;
}

header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;

  & a {
    text-decoration: none;
  }

  & small {
    color: #808080;
    font-weight: normal;
    display: inline-block;
  }

  & img {
    max-height: 0.75em;
  }
}

h1,
h2,
ul {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

section {
  margin-bottom: 1em;
}

footer {
  margin-top: 5em;
  border-top: 1px solid var(--clr-separator);
  padding-top: 2em;
  font-size: 0.7rem;
  color: var(--clr-small-txt);
}

dt {
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 0.5rem;
  }
}

dd {
  margin-left: 0;
}

a {
  color: var(--clr-link-txt);

  &:active {
    background: var(--clr-link-bg-active);
  }
}

.inline-block {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.space-below {
  margin-bottom: 2.5rem;
}

.container {
  overflow-x: none;
}

.charades-app {
  padding: 1em;
  color: var(--clr-txt);
  max-width: 48rem;
  margin: 0 auto;
}

.start-container {
  text-align: center;
  padding: 1em;

  & .btn {
    font-size: 2.5rem;
  }
}

.generator {
  padding: 0.2rem;
  overflow: hidden;
}

.generated-words {
  font-size: 2.5rem;
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;

  @nest a& {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-inline {
  list-style: none;
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 0;

  & > li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.btn {
  font-weight: bold;
  padding: 0.2em 0.5em;
  font-size: 0.7em;
  border-radius: 0.5rem;
  border: 0.15rem solid var(--clr-btn-border);
  cursor: pointer;
  color: var(--clr-btn-txt);
  background: var(--clr-btn-bg);
  font-size: 1.5rem;

  &:hover,
  &:active {
    background: var(--clr-btn-bg-hover);
  }

  &:focus {
    box-shadow: var(--shadow-focus);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.btn-main {
  color: var(--clr-btnMain-txt);
  background: var(--clr-btnMain-bg);

  &:hover,
  &:active {
    background: var(--clr-btnMain-bg-hover);
  }
}

.list-toggle {
  margin-bottom: 1.5rem;

  & input {
    position: absolute;
    left: -100rem;
    width: 0;

    & + label {
      display: inline-block;
      border-radius: 0.3em;
      border: 0.1em solid var(--clr-btn-border);
      color: var(--clr-btn-txt);
      background: var(--clr-btn-bg);
      padding: 0.2em 0.5em;

      &:hover {
        background: var(--clr-btn-bg-hover);
      }

      & a {
        color: inherit;
        text-decoration: none;
      }
    }

    &:checked {
      & + label {
        color: var(--clr-btnMain-txt);
        background: var(--clr-btnMainSmall-bg);

        &:hover {
          background: var(--clr-btnMainSmall-bg-hover);
        }
      }
    }

    &:focus + label {
      box-shadow: var(--shadow-focus);
    }
  }
}

.status {
  clear: both;
  font-size: 0.8rem;
  color: var(--clr-small-txt-faint);
}

.charades-app.print {
  max-width: none;
}

.cards > li {
  display: inline-block;
  padding: 2rem;
  text-align: center;
  min-width: 8rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid var(--clr-separator);
  margin: 0 -1px -1px 0;
}

/* React animations */
.fade-enter {
  opacity: 0;

  &.fade-enter-active {
    opacity: 1;
    transform: none;
  }
}

.fade-leave {
  height: 0;
  opacity: 1;

  &.fade-leave-active {
    opacity: 0;
  }
}

.fade-enter,
.fade-leave {
  transition: 300ms ease-in-out;
  transition-property: opacity, transform, height;
}

.fade-move > .fade-enter:not(.fade-enter-active) {
  transform: translate(-1rem);
}

.fade-move > .fade-leave.fade-leave-active {
  transform: translate(1rem);
}

@media print {
  .noprint {
    display: none !important;
  }
}
