Langs: sv
Title: Hur man spelar charader
Url: url.howToPlay
---
<h1>
    <a href="<%= translate('url.home') %>">
        <img src="img/stick-figure.png" alt="">
    </a>
    Hur man spelar charader
</h1>
<a href="<%= translate('url.home') %>">Tillbaka till spelet</a>
<p>
    Charader är en pantomim-lek: med gester förklarar man ett ord utan att prata, medan de andra lagmedlemmarna försöker gissa vilket ord det är. Målet är att ditt lag ska gissa ordet så fort som möjligt.
</p>

<ul class="list-inline">
    <li><a href="#standard">Standardregler</a></li>
    <li><a href="#no-teams">Inga lag</a></li>
    <li><a href="#tips">Tips på gester</a></li>
    <li><a href="#pictionary">Pictionary</a></li>
</ul>


<h2 id="standard">Standardregler</h2>

<ul>
    <li>Du behöver:
        <ul>
            <li>4+ spelare</li>
            <li>En mobiltelefon eller surfplatta med Charadgenerator-appen (denna webbplats)</li>
            <li>Ett tidtagarur</li>
            <li>Ett anteckningsblock och penna för poängräkning</li>
            <li>Färdighet i skådespeleri</li>
        </ul>
    </li>
    <li>Dela upp spelarna i två lag.</li>
    <li>Kom överens om hur många rundor ni ska köra, exempelvis antalet spelare i varje lag.</li>
</ul>

<h3>Spelet</h3>

<p>Varje runda går till enligt följande.</p>

<ul>
    <li>En spelare från Lag A genererar ett ord med Charadgeneratorn. Efter att hen har haft en kort stund att titta på ordet, så noterar tidtagaren för Lag B tiden och säger åt spelaren att börja agera. De andra medlemmarna i Lag A har sedan tre minuter på sig att gissa ordet eller frasen. Om de listar ut det, så skriver tidtagaren upp hur lång tid det tog. Om de inte listar ut det inom tre minuter, så säger tidtagaren att tiden är slut, och skriver upp en tidsperiod på tre minuter.</li>
    <li>En spelare från Lag B genererar ett nytt ord med Charadgeneratorn, och spelet fortsätter enligt ovan.</li>
</ul>

<p>Normalt fortsätter spelet tills varje spelare har improviserat fram ett ord. Poängen är den totala tiden som ett lag behövt för samtliga rundor. Laget med den lägsta poängen vinner spelet.</p>


<h2 id="no-teams">Variant utan lag, med valfri poängräkning</h2>

<ul>
    <li>Du behöver:
        <ul>
            <li>2+ spelare</li>
            <li>En mobiltelefon eller surfplatta med Charadgenerator-appen (denna webbplats)</li>
            <li>Valfritt: Ett anteckningsblock och penna för poängräkning</li>
        </ul>
    </li>
</ul>

<h3>Spelet</h3>

<p>Istället för att dela upp gruppen i lag, så försöker <em>alla</em> lista ut ordet eller frasen när någon förklarar med gester. Om ni vill räkna poäng, så kan den person som kommer på ordet eller frasen få 1 poäng, och vinnaren är den som har flest poäng när spelet slutar.</p>


<h2 id="tips">Tips på gester</h2>

<p>Om ordet innehåller flera delar, eller om det är en fras, så börjar man normalt med att visa hur många delar det är. Man behöver inte visa varje del i rätt ordning. Här är några tips på "charadspråket".</p>

<dl>
    <dt>Antal delar eller ord</dt>
    <dd>Håll upp ett antal fingrar.</dd>

    <dt>Den del eller ord som du håller på med</dt>
    <dd>Håll upp ett antal fingrar igen.</dd>

    <dt>Korrekt, det stämmer</dt>
    <dd>Tummen upp, eller visa öppna handflator.</dd>

    <dt>Helt fel</dt>
    <dd>Hugg ett stort kryss i luften med bägge händer</dd>

    <dt>Nära, nästan rätt</dt>
    <dd>Vicka handen som en gungbräda horisontellt</dd>

    <dt>Låter som, likt uttal</dt>
    <dd>Sätt handen intill örat</dd>

    <dt>Använd en del av ordet som du just sa</dt>
    <dd>Hugg genom luften med en hand</dd>

    <dt>Fortsätt säga relaterade ord, eller upprepa något du nyss sagt</dt>
    <dd>Rulla handen som ett ekorrhjul</dd>
</dl>


<h2 id="pictionary">Pictionary</h2>

<p>Pictionary är en variant, där man istället för att göra pantomimer, <em>ritar</em> ordet på papper. Man kan spela med samma regler som för charader, eller med några mindre ändringar.</p>

<ul>
    <li>Du behöver:
        <ul>
            <li>4+ spelare</li>
            <li>En mobiltelefon eller surfplatta med Charadgenerator-appen (denna webbplats)</li>
            <li>Ett anteckningsblock för poängräkning</li>
            <li>Två anteckningsblock och två pennor för att rita</li>
            <li>Ritfärdighet</li>
        </ul>
    </li>
    <li>Dela upp spelarna i två lag.</li>
</ul>

<p>Varje runda går till enligt följande.</p>

<ul>
    <li>En spelare från varje lag tittar på ett gemensamt ord som Charadgeneratorn genererat. De fortsätter genom att rita ordet på varsitt papper, medan de andra lagmedlemmarna försöker lista ut vad deras respektive lagkamrat ritar. Laget som först kommer på ordet får ett poäng.</li>
    <li>En annan spelare from vardera lag ritar ett nytt ord, enligt ovan.</li>
</ul>

<p>Laget som har flest poäng vinner.</p>


<a href="<%= translate('url.home') %>">Tillbaka till spelet</a>

<footer>
    Text av
    <a href="https://cs.umd.edu/~nau/misc/charades.html">Dana S. Nau</a> och
    <a href="http://danwolff.se">Dan Wolff</a>,
    släppt under
    <a href="https://creativecommons.org/licenses/by-nc-sa/1.0/deed.sv">CC BY-NC-SA 1.0</a>
</footer>
