Langs: en
Title: How to Play Charades
Url: url.howToPlay
---
<h1>
    <a href="<%= translate('url.home') %>">
        <img src="img/stick-figure.png" alt="">
    </a>
    How to Play Charades
</h1>
<a href="<%= translate('url.home') %>">Back to game</a>
<p>
    Charades is a game of pantomimes: you have to "act out" a word without speaking, while the other members of your team try to guess what the word is. The objective is for your team to guess the word as quickly as possible.
</p>

<ul class="list-inline">
    <li><a href="#standard">Standard Rules</a></li>
    <li><a href="#no-teams">No Teams</a></li>
    <li><a href="#tips">Gesture Tips</a></li>
    <li><a href="#pictionary">Pictionary</a></li>
</ul>


<h2 id="standard">Standard Rules</h2>

<ul>
    <li>You need:
        <ul>
            <li>4+ players</li>
            <li>Mobile device with the Charade Generator app (this website)</li>
            <li>A stopwatch</li>
            <li>A notepad and pencil for scorekeeping</li>
            <li>Acting skills</li>
        </ul>
    </li>
    <li>Divide the players into two teams.</li>
    <li>Agree on how many rounds to play, for example the number of players on each team.</li>
</ul>

<h3>Gameplay</h3>

<p>Each round of the game proceeds as follows.</p>

<ul>
    <li>A player from Team A generates a word with the Charade Generator. After he/she has had a short time to review the word, the timekeeper for team B notes the time and tells the player to start acting out the word without speaking. The other members of Team A then have three minutes to guess the word or phrase. If they figure it out, the timekeeper records how long it took. If they do not figure it out in three minutes, the timekeeper announces that the time is up, and records a time of three minutes.</li>
    <li>A player from Team B generates a new word with the Charade Generator, and play proceeds as above.</li>
</ul>

<p>Normally the game continues until every player has had a chance to "act out" a word. The score for each team is the total time that the team needed for all of the rounds. The team with the smallest score wins the game.</p>


<h2 id="no-teams">Variation without Teams, with Optional Scores</h2>

<ul>
    <li>You need:
        <ul>
            <li>2+ players</li>
            <li>Mobile device with the Charade Generator app (this website)</li>
            <li>Optional: A notepad and pencil for scorekeeping</li>
        </ul>
    </li>
</ul>

<h3>Gameplay</h3>

<p>Instead of dividing the group into teams, <em>everybody</em> tries to figure out the word or phrase when someone "acts it out". If you wish to keep score, the person who figures out the word or phrase being "acted out" can be awarded 1 point, the winner being the one with the most points when the game ends.</p>


<h2 id="tips">Gesture Tips</h2>

<p>If the word contains multiple parts, or if it is a phrase, one usually starts by indicating the number of parts. You don't have to explain each part in order. Here are some tips on the "language" of charades.</p>

<dl>
    <dt>Number of parts or words</dt>
    <dd>Hold up the number of fingers.</dd>

    <dt>Which part or word you're working on</dt>
    <dd>Hold up the number of fingers again.</dd>

    <dt>Correct</dt>
    <dd>Thumbs up, or show your open hand</dd>

    <dt>Completely wrong</dt>
    <dd>Slash a big cross in the air with both hands</dd>

    <dt>Close, almost correct</dt>
    <dd>Wobble your hand horizontally</dd>

    <dt>Sounds like, similar pronunciation</dt>
    <dd>Put your hand to your ear</dd>

    <dt>Use part of the word you just said</dt>
    <dd>Slash through the air with one hand</dd>

    <dt>Continue brainstorming on this topic, or say something you just said again</dt>
    <dd>Roll your hand</dd>
</dl>


<h2 id="pictionary">Pictionary</h2>

<p>Pictionary is a variation, where instead of acting out the word, you <em>draw</em> it on paper. You can use the same rules as for charades, or a slightly different variation</p>

<ul>
    <li>You need:
        <ul>
            <li>4+ players</li>
            <li>Mobile device with the Charade Generator app (this website)</li>
            <li>A notepad and pencil for scorekeeping</li>
            <li>Two notepads and two pencils for drawing</li>
            <li>Drawing skills</li>
        </ul>
    </li>
    <li>Divide the players into two teams.</li>
</ul>

<p>Each round proceeds as follows.</p>

<ul>
    <li>One player from each team look at a single word generated by the Charade Generator. They proceed to draw the that word on a sheet of paper, while the other team members try to guess what their teammate is drawing. The team that first figures out the word gets a point.</li>
    <li>Another player from each team draws a new word, as above.</li>
</ul>

<p>The team with the most points wins.</p>


<a href="<%= translate('url.home') %>">Back to game</a>

<footer>
    Text by
    <a href="https://cs.umd.edu/~nau/misc/charades.html">Dana S. Nau</a> and
    <a href="http://danwolff.se">Dan Wolff</a>,
    released under
    <a href="https://creativecommons.org/licenses/by-nc-sa/1.0/">CC BY-NC-SA 1.0</a>
</footer>
