Langs: en, sv
Url: url.home
Mode: react
---
<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
	<meta charset="utf-8">
	<title><%= translate('app.name') %></title>
	<script src="lib/underscore-min.js"></script>
	<script src="lib/nanoajax.min.js"></script>
	<script src="lib/react-with-addons.js"></script>
	<script src="lib/react-dom.js"></script>
	<script src="lib/redux.js"></script>
	<script src="lib/react-redux.js"></script>
	<script src="lib/regeneratorruntime.js"></script>
	<script src="main.js"></script>
	<link rel="stylesheet" href="main.css">
	<link rel="icon" href="img/stick-figure.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= hreflang %>
</head>
<body>
	<div id="app"><%= contents %></div>
</body>
</html>
